.container {
  width: 90vw;
  height: 90vh;
  background: #5ea3ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  border: 20px solid white;
  width: 100px;
  height: 100px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}
