.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 350px;
  height: 500px;
  background: #0c92ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: flexbox;
  width: 200px;
  height: 200px;
}

h1 {
  color: white;
}
